{% extends 'layout.html' %}

{% block title %} Home {% endblock %}
{% block body %}
    <div class="container">
        <div class="starter-template">
            <h1>Tampilkan Data</h1>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Tambah Data
            </button>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>No</td>
                    <td>Nama</td>
                    <td>Aksi</td>
                </tr>
                </thead>
                <tbody>
                {% for row in computers %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>
                            <a href="#!" class="btn btn-warning btn-xs" data-toggle="modal"
                               data-target="#modalEdit{{ row.0 }}">Edit</a>
                            <a href="/hapus/{{ row.0 }}" class="btn btn-danger btn-xs"
                               onclick="return confirm('Yakin ingin hapus?')">Hapus</a>
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div id="modalEdit{{ row.0 }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Data</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('update') }}" method="POST">
                                        <div class="form-group">
                                            <label>Nama:</label>
                                            <input type="hidden" name="id" value="{{ row.0 }}">
                                            <input type="text" class="form-control" name="nama" value="{{ row.1 }}">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-warning" type="submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="3">Unbelievable. No entries here so far</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tambah Data</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('simpan') }}" method="POST">
                        <div class="form-group">
                            <label>Nama:</label>
                            <input type="text" class="form-control" name="nama">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="sbumit">Simpan</button>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}




